.header {
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
}

.navContainer {
  display: inline-block;

  padding: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px;
}

/* .navContainer:not(:last-child) {
  border-right: none;
} */

.navLink {
  color: black;
}

.navLink-active {
  color:blue;
}